.code-block {
    display: block;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 1rem;
    font-family: monospace;
    overflow: auto;
}

.inline-code {
    background-color: rgb(68, 71, 74);
    font-weight: 800;
    color: rgb(210, 143, 67);
    padding: 0.1em 0.4em;
    border-radius: 4px;
    font-family: monospace;
}
